:host {
  width: 100%;

  .login-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 40% !important;
        margin: 10px 0;
    }

    .login-button {
        background-color: black;
        color: white;
        width: 40%;
    }
  }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }
}
