:host {
  header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-main-info {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .header-options {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
    }

    .icon-container {
      width: 30px;
      height: 30px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgb(219, 219, 219);

      .notifications, .person {
        font-size: 25px;
      }
    }
  }
}
