<mat-drawer #drawer id="sidenav" mode="side">
  <div id="sidebar-header">
    <app-hamburguer [drawerComponent]="drawer" />
    <h2 id="sidebar-app-title">Management App</h2>
  </div>
  <nav id="sidebar-nav">
    <div class="sidebar-nav-item">
      <mat-icon class="notifications">notifications</mat-icon>
      <a routerLink="home">Home</a>
    </div>

    <div class="sidebar-nav-item">
      <mat-icon class="notifications">notifications</mat-icon>
      <a routerLink="home">Home</a>
    </div>

    <div class="sidebar-nav-item">
      <mat-icon class="notifications">notifications</mat-icon>
      <a routerLink="home">Home</a>
    </div>

    <div class="sidebar-nav-item">
      <mat-icon class="notifications">notifications</mat-icon>
      <a routerLink="home">Home</a>
    </div>
  </nav>
</mat-drawer>
